@media (width > 700px) {
    body {
      max-width: 800px;
      margin: 0 auto;
      background-color: #f4f5f6;
    }
    
    #preferences {
        display: flex;
        align-items: center;
        flex-direction: column;
    }

    #results {
        display: flex;
        align-items: center;
        flex-direction: column;
    }

    #history {
        display: flex;
        align-items: center;
        flex-direction: column;
    }
}

#preferences {
        display: flex;
        align-items: center;
        flex-direction: column;
}

#results {
        display: flex;
        align-items: center;
        flex-direction: column;
}

#history {
        display: flex;
        align-items: center;
        flex-direction: column;
}
#back-button {
    border: none;
    background: none;
    font-size: 45px;
    color: white;
    text-decoration: none;
}

#history-icon {
    width: 45px;
    height: auto;
    color: white;
    filter: brightness(0) invert(1);
}

#home-nav {
    display: flex;
    justify-content: end;
}

#welcome {
    font-size: 20px;
    display: flex;
    align-items:  center;
    flex-direction: column;

}

#welcome h2 {
    margin-bottom: 40px;
}

#welcome p {
    margin-bottom: 50px;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: white;
    background-color: #2d5a27;
    border: 4px #1c3b19 solid;
    padding: 10px;
    white-space: nowrap;
}

.homeButtons {
    color: white;
    border: 2px #1c3b19 solid;
    background-color: #2d5a27;
    padding: 5px;
    display: flex;
    gap: 95px;
    margin: 10px;
    margin-bottom: 50px;
    justify-content: center;
    font-size: 20px;

}

#meal-home {
    margin-top: 10px;
    width: 300px;
    height: auto;
}

#check-result {
    font-size: 20px;
    display: flex;
    align-items: center;
}

a {
    font-size: 15px;
    color: black;
}

#source-text {
    margin-top: 0px;
    padding-bottom: 0px;
    font-size: 15px;
}

#head {
    font-size: 20px;
}

.center-h1 {
    text-align: center;
    border-bottom: 2px black solid;
}

div {
    font-size: 30px;
    display: flex;
    margin-bottom: 100px;
    gap: 10px;
}

select {
    font-size: 20px;
}

#results {
    display: none;
    margin-bottom: 30px;
}

#meal-image {
    width: 400px;
    height: auto;
}

label {
    font-size: 20px;
}

#name {
    font-size: 20px;
    margin-bottom: 30px;
}

#name-error {
    color: red;
    font-size: 20px;
}

#meal-description {
    font-size: 20px;
}

footer {
    font-size: 12px;
}
